<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button class="btn btn-primary" [disabled]="deshabilitar" (click)='agregarPersona()'>
        Agregar Persona
      </button>
      <p>{{ mensaje }}</p>
      <app-persona></app-persona>
      <label>Titulo Persona</label>
      <!--Ejercicio- Two way Binding: Los corchetes hacen referencia al property binding y los parentesis los utilizamos para el cocnepto de event binding 
      
      Mediante el siguiente ajuste estamob utilizando los 2 al mismo tiempo parecido a los dos ejemplos de las clasea anteriores
      -->
      <input type="text" class="form-control" [(ngModel)]='titulo'> {{titulo}}
    </div>
  </div>
</div>
