
<!--Ejercicio: Interpolcion-->
<p>
    Nombre: {{nombre}}
    Apellido: {{apellido}}
    Edad: {{edad}}
</p>
<!--Edad: {{getEdad()}} se utiliza asi cuando un atributo es privado y se tiene que utilizar un metodo para acceder al mismo-->

<!--Ejercicio: Template Reference Variable (otra forma de interpolacion) 

    <div (keyup)='0'> //Indica que al terminar de presionar una tecla se lanzara ese evento (no hay espera de tiempo)
    <label>Repetidor</label>
    <input #entrada> //variable
    {{entrada.value}} //interpolacion para acceder a la variable
</div> 



-->
